{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div class="form-group">
    <label for="add-comment">Add Comment:</label>
    <textarea name="comment-body" id="add-comment"></textarea>
  </div>

  <div>
    <button type="submit" class="btn btn-primary">Add comment</button>
    <button type="button" class="upvote-btn btn btn-success">Upvote</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}